.navbar {
    background-color: #091353;
}

.myflix {
    color: #9D84B7;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #9D84B7;
}

.logout {
    color: #B2F9FC;
}

.logout:hover {
    color: #9D84B7;
}